{port_env,
 [{"DRV_LDFLAGS","-shared -fPIC ./hash_ring.c ./sha1.c ./sort.c ./md5.c -I."},
  {"darwin", "DRV_LDFLAGS", "-shared -undefined suppress -flat_namespace $ERL_LDFLAGS ./hash_ring.c ./sha1.c ./sort.c ./md5.c -I."},
  {"DRV_CFLAGS","-I. -O3 -Wall -fPIC $ERL_CFLAGS"}]}.

{port_specs, [{"priv/hash_ring_drv.so", ["c_src/*.c"]}]}.

